.homebg {
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    animation: homebg 2s infinite ease-in-out;

}

@keyframes homebg {
    0% {
        transform: rotateZ(-40deg);
        /* transform: rotateZ(10deg); */
    }

    50% {
        transform: rotateZ(10deg);
        /* transform: rotateZ(-40deg); */
    }
    100% {
        /* transform: rotateZ(10deg); */
        transform: rotateZ(-40deg);
    }

}









.exchange-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.exchanges-section {
    height: 10rem;
    width: 10rem;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    /* transition: all 0.5s ease-in-out; */
}


.newsLink {
    width: 40%;
  }

.NewscardSection {
    height: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: white;
    cursor: pointer;
    border: 1px solid gray;
    /* transition: all 0.5s ease-in-out; */
}

.exchanges-section:hover {
    transform: scale(1.1);
}

.mainExchangeHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    border-bottom: 1px solid rgba(180, 175, 175, 0.39);
    padding-bottom: 5px;
    width: 100%;
}

.left-Exchange {
    font-size: 14px;
    color: cornflowerblue;
    font-weight: 400;
}

.mainExchangeHeading .exchangeCard-name,
.mainExchangeHeading span {
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin-left: 5px;
}

.exchange-logo {
    height: 25px;
    width: 25px;
    margin: 5px auto;
    border-radius: 50%;
}

.exchangeinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    font-weight: 400;
    gap: 10px;
    margin: 3px 0;

}

.exchangeinfo>p {
    text-transform: capitalize;

}

.exchangecardInfo {
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exchangecard-id {
    position: absolute;
    bottom: 10px;
    font-size: 12pxs;
    font-weight: 600;
}

.coinCard-coinName {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}

.coinButtonSec::-webkit-scrollbar {
    display: none;
    width: 0;
}

.activeClass {
    background-color: rgb(0, 0, 0) !important;
    color: #fff;
}











/* loader csss */
.Loader {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    z-index: 8;
    display: grid;
    place-items: center;
}

.loadermain {
    height: 100px;
    width: 100px;
    border-bottom: 2px solid rgb(255, 255, 255);
    animation: loader 0.6s infinite linear;
    border-radius: 50%;
    transform: rotate3d((90deg));
    color: #fff;
    position: absolute;
}

@keyframes loader {
    to {
        transform: rotateZ(360deg);
    }
}

.loadingheading {
    margin-left: 18px !important;
    color: #fff;
}



@media screen and (max-device-width: 678px) {
    .newsLink {
      width: 100% !important;
    }
  }